@keyframes rotateAnimation {
    from {transform: rotateY(45deg);}
    to {transform: rotateY(225deg);}
}

.canadian_coin_1 {
    top: 210px;
    left: 200px;
    width: 300px;
    height: 300px;
    cursor: pointer;
    position: absolute;
    transform: rotateY(45deg);
	animation: rotateAnimation 10s linear infinite;
}
.canadian_coin_2 {
    top: 210px;
    left: 200px;
    width: 300px;
    height: 300px;
    position: absolute;
    visibility: hidden;
    transform: rotateY(45deg);
	animation: rotateAnimation 10s linear infinite;
}

.about {
    top: 49px;
    left: 579px;
    width: 452px;
    height: 624px;
    position: absolute;
    border-radius: 30px;
    background: #C4C4C480;
    border: 1px solid #C4C4C4;
    box-shadow: 10px 5px 5px #C4C4C4;
}

.coinName {
    left: 10%;
    color: black;
    font-size: 28px;
    font-weight: 700;
    position: absolute;
}

.coinInfo {
    top: 15%;
    left: 10%;
    width: 360px;
    color: black;
    font-size: 20px;
    font-weight: 400;
    position: absolute;
}

.aboutTable {
    top: 30%;
    left: -2%;
    width: 366px;
    height: 140px;
    font-size: 18px;
    font-weight: 400;
    position: absolute;
}

.aboutTable tr td {
    padding: 6px;
}
.aboutTable tr:first-child, .aboutTable tr:nth-child(3), .aboutTable tr:nth-child(5), .aboutTable tr:nth-child(7) {
    background: white;
}

.back {
    top: 90%;
    left: 12%;
    color: black;
    position: absolute;
}